

.alert-info {
display: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 69px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul li {
    padding: 15px;
    list-style: none;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-basis: 50%;
    flex-direction: column;
}

.main, .sub-section {
    justify-content: flex-end;


}


