body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.alert-info {
    border: 2px solid lightgrey;
    background-color: rgb(214, 254, 254);
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.alert-info a {
    text-decoration: none;
    color: black;
    font-size: small;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.nav-links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin: 5px 0;
    padding: 12px;
    width: 100%;
    font-size: smaller;
}

img {
    width: 100%;
    height: auto;
}

.sub-section {
    font-style: italic;
}

.sub-section h2 {
    font-size: 1.2rem;
}

@media screen and (min-width:768px) {

body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hidden-on-desktop {
    display: none;
}

.nav-links {
    flex-direction: row;
    margin-top: 1.2em;
}

.nav-links li {
    background: none;
}

.header-img {
    width: 100%;
}

.main {
    flex-basis: 55%;
}

.sub-section {
    flex-basis: 35%;
}
}

