* {
    /*border: 1px red solid;*/
}

.alert-info {
display: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 76px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul li {
    padding: 15px;
    list-style: none;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    float: left;
    margin: auto;
}

section:nth-of-type(1) {
    display: flex;
}

section:nth-of-type(2) {
    display: flex;
}

footer {
}
